<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Journal</title>
    <!-- Ensure you include the Bootstrap CSS link here -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container mt-5">
        <h1 class="my-4 text-center">My Journal</h1>
        <div class="row">
            <%
    const moodToImageMap = {
        'Happy': '1',
        'Calm': '2',
        'Confused': '3',
        'Angry': '4',
        'Sad': '5'
    };
%>

            <% journalEntries.forEach(entry => { %>
                <div class="col-md-4 mb-3">
                    <div class="card " style="width: 18rem;">
                        <img src="/images/Image<%= moodToImageMap[entry.mood] %>.png" class="card-img-top img-fluid d-block mx-auto" alt="Mood image" style="max-width: 100px; display: block; margin-left: auto; margin-right: auto;">
                        <div class="card-body">
                            <h5 class="card-title h5"><%= entry.title %></h5>
                            <p class="card-text lead"><%= entry.content %></p>
                            <p class="card-text"><small class="text-muted">Created At: <%= entry.createdAt.toDateString() %></small></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
        <!-- Button to add a new entry -->
        <a href="/new-entry" class="btn btn-success mt-4 d-block">Add New Entry</a>
    </div>

    <!-- Include Bootstrap JS and Popper.js here if needed -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
